# Files
*.bak
*.flow.rpt
*.map.rpt
*.map.summary
*.qsf
*.qws
.DS_Store
*.asm.rpt
*.done
*.eda.rpt
*.fit.rpt
*.fit.summary
*.jdi
*.pin
*.sof
*.sta.rpt
*.sta.summary
*.rpt
*.bsf
*.inc
*.ddb
*~

# Directories
db/
incremental_db/
simulation/
